.box{
background-color:yellow;
    height:85;
    margin: 15;
    border-color:pink;
    
}
.p1{
color:blue;
margin:0;
padding-top:21;
}

.p2{
color:green; 
margin:0;
}

.p3{
color: purple;
margin:0;    
}

.box1{
padding:100;
background-color:cyan;
}

.heading{
background-color: pink;
border-color: red;
margin:28;
}

.align{
flex-direction:column;
}